## Load packages

In [1]:
import pandas as pd

## Articles

In [23]:
articles = pd.read_csv('../data/articles.csv')

In [27]:
articles.head()

,by,descendants,id,kids,score,time,title,type,url
0,todsacerdoti,607,24563698,24563821 24563987 24565829 24564488 24563843 2...,711,2020-09-23 08:38:33,Firefox usage is down 85% despite Mozilla's to...,story,http://calpaterson.com/mozilla.html
1,themodelplumber,126,24562850,24563705 24563838 24563276 24563478 24565992 2...,310,2020-09-23 06:04:45,"How to say no, for the people pleaser who alwa...",story,https://www.npr.org/2020/09/15/913207918/how-t...
2,luu,27,24553085,24563230 24562887 24562049 24564895 24562235 2...,227,2020-09-22 13:04:22,Small Tech,story,https://scattered-thoughts.net/writing/small-t...
3,pseudolus,56,24553369,24563122 24565813 24562283 24562375 24563752 2...,94,2020-09-22 13:47:02,You Talkin’ to Me? The Unruly History of New Y...,story,https://literaryreview.co.uk/tawk-of-the-town
4,jeanyang,24,24561119,24561495 24562538 24565366 24564334 24561573 2...,87,2020-09-23 01:13:58,Catch Breaking Changes by Diffing API Traffic,story,https://www.akitasoftware.com/blog/2020/9/22/f...

## Comments

In [25]:
comments = pd.read_csv('../data/comments.csv')

In [26]:
comments.head()

,by,id,kids,parent,text,time,type,deleted,dead
0,hateful,22162912.0,[22162939],22162102.0,It wasn't just me!Though it was interesting th...,2020-01-27 20:36:20,comment,NaN,NaN
1,Centigonal,22162461.0,"[22162482, 22162498]",22162102.0,up for me now. Google SREs must be busy today!,2020-01-27 19:48:02,comment,NaN,NaN
2,leothekim,22162249.0,{},22162102.0,Drive is down as well.,2020-01-27 19:26:25,comment,NaN,NaN
3,sbmthakur,22162508.0,{},22162102.0,Seems like they got it up quickly. But would s...,2020-01-27 19:52:36,comment,NaN,NaN
4,koliber,22162936.0,[22163451],22162102.0,So were portions of Google Slides. I could not...,2020-01-27 20:38:25,comment,NaN,NaN